---
- name: Ensure necessary packages for SDKMAN are installed
  ansible.builtin.package:
    name: 
      - curl
      - zip
      - unzip
    state: present
  become: yes

- name: Check if SDKMAN is already installed
  ansible.builtin.stat:
    path: "/home/{{ dev_username }}/.sdkman/bin/sdkman-init.sh"
  register: sdkman_installed

- name: Install SDKMAN
  ansible.builtin.shell: |
    curl -s "https://get.sdkman.io" | bash
  args:
    executable: /bin/bash
    creates: "/home/{{ dev_username }}/.sdkman/bin/sdkman-init.sh"
  when: not sdkman_installed.stat.exists
  become_user: "{{ dev_username }}"

- name: Source SDKMAN init script for current session (for subsequent tasks)
  ansible.builtin.shell: |
    source "/home/{{ dev_username }}/.sdkman/bin/sdkman-init.sh"
    sdk version
  args:
    executable: /bin/bash
  register: sdkman_version_check
  changed_when: false
  when: not sdkman_installed.stat.exists
  become_user: "{{ dev_username }}"

- name: Install Java 17 Temurin using SDKMAN
  ansible.builtin.shell: |
    source "/home/{{ dev_username }}/.sdkman/bin/sdkman-init.sh"
    sdk install java 17.0.9-tem
    sdk default java 17.0.9-tem
  args:
    executable: /bin/bash
    creates: "/home/{{ dev_username }}/.sdkman/candidates/java/17.0.9-tem"
  when: not sdkman_installed.stat.exists
  become_user: "{{ dev_username }}"
