# Managed by Ansible
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
plugins=(git you-should-use zsh-autosuggestions history-substring-search zsh-syntax-highlighting)

# Homebrew early to expose brew-installed binaries (eza, starship, etc.)
eval "$({{ brew_prefix }}/bin/brew shellenv)"

source $ZSH/oh-my-zsh.sh

# Aliases
[[ -f "$HOME/.aliases" ]] && source "$HOME/.aliases"

# Functions
[[ -f "$HOME/.functions" ]] && source "$HOME/.functions"

# Starship prompt
export STARSHIP_CONFIG="$HOME/.config/starship.toml"
eval "$(starship init zsh)"

